# Perform continuous integration tests on pull requests
name: Ruff

on: pull_request

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v1
      - uses: astral-sh/ruff-action@v1
        with:
          args: "format --check"
